@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Roboto:wght@300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.2rem;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    width: 90%;
}

nav {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
    color: #ffffff;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    width: 30%;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: inline-block;
    padding: 8px 10px;
    text-decoration: none;
    font-size: .7rem;
    color: #ffffff;
}


header {
    height: 60vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(52, 52, 52, 0.7), rgba(0, 0, 0, 0.7)), url(image.jpeg);
    background-position: center;
    background-size: cover;
}

header .container {
    padding: 10px;
    height: 100%;
}

header .container .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: #fff;
}


button {
    background-color: #fff;
    border: 1px solid black;
    outline: none;
    border-radius: 3px;
    padding: 10px 10px;
    font-weight: 600;
    font-size: .6rem;
    display: block;
    margin: auto;
}

.todo {
    align-items: center;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo .flex {
    margin: 10px;
    padding: 0 0px;
    justify-content: space-between;
    width: 100%;
}

.todo input {
    width: calc(100% - 104px);
    padding: 8px;
    margin: auto;
}

.toDo {
    margin: 5px 0 30px;
    width: 100%;
}

.toDo li {
    list-style-type: none;
    margin-top: 10px;
    padding: 5px 10px;
    width: 100%;
    background: linear-gradient(to right, rgb(222, 222, 222), rgb(237, 236, 236), rgb(253, 253, 253));
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toDo li div {
    display: flex;
    gap: 10px;
}

.toDo li div button {
    color: #fff;
    font-size: .7rem;
}

.toDo li div button.done-btn {
    background: rgb(47, 255, 0);
}

.toDo li div button.delete-btn {
    background: rgb(0, 94, 255);
}

.toDo li span {
    font-size: .9rem;
    color: #000;
}

.signup-form {
    padding: 20px 10%;
    background-color: rgb(234, 234, 234);
}

.form-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0;
}


.form-content form {
    width: 100%;
}

.signup-form h3 {
    text-align: center;
}

.form-content label {
    margin: 2px 0;
    font-size: .7rem;
}

.form-content input {
    width: 100%;
    padding: 6px 5px;
}

.form-content textarea {
    height: 100px;
}