* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

span.style {
    color: rgb(255, 128, 0);
    font-family: cursive;
    text-decoration: underline;
}

.navbar {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 15px rgb(203, 202, 202);
    padding: 5px 4rem;
}

.navbar img {
    height: 30px;
    width: 100%;
}

.navbar ul {
    display: flex;
    gap: 30px;
}

.navbar ul li {
    list-style: none;
    padding: 5px 10px;
    transition: .2s ease;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.navbar ul li:hover {
    background-color: rgb(0, 255, 204);
    border-radius: 3px;
}


.navbar .icon {
    display: none;
    font-size: 2rem;

}

.home {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 7rem;
    gap: 50px;
    background-color: rgb(247, 247, 247);
}

.home .text h1 {
    font-size: 3rem;
    margin: 30px 0;
}

.home .text p {
    text-align: justify;
}

.home .text h1 span {
    color: rgb(255, 128, 0);
    font-family: cursive;
}

.home .text button {
    padding: 10px 20px;
    background-color: rgb(255, 0, 140);
    border: none;
    color: #fff;
    letter-spacing: 1px;
    margin: 40px 0;
    transition: all .4s linear;
}

.home .text button:hover {
    transform: translateX(20px);
}

.home .img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .img img {
    /* height: 100%; */
    height: 400px;
    /* width: 470px; */
}

@media screen and (max-width:500px) {
    .home .img img {
        height: 390px;
        /* width: 360px; */
    }
}


.about {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 7rem;
}

.about .text h1 {
    font-size: 3rem;
    margin: 30px 0;
}

.about .text p {
    text-align: justify;
}

.about .text h1 span {
    color: rgb(255, 128, 0);
    font-family: cursive;
}

.about .text button {
    padding: 10px 20px;
    background-color: rgb(255, 0, 140);
    border: none;
    color: #fff;
    letter-spacing: 1px;
    margin: 40px 0;
    transition: all .4s linear;
}

.about .text button:hover {
    transform: translateX(20px);
}

.about .img img {
    height: 470px;
}

.menu {
    min-height: 100vh;
    width: 100%;
}

.menu h1 {
    text-align: center;
    margin: 10px 0;
}

#card-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.menu .card {
    margin: 20px;
    height: 400px;
    width: 280px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 0 15px rgb(189, 189, 189);
}


.card .img {
    overflow: hidden;
    height: 200px;
    width: 100%;
}

.card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .3s ease;
}

.card .img img:hover {
    transform: scale(1.2);
}

.card .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

.card .text h2 {
    color: rgb(255, 0, 64);
}

.card .text button {
    padding: 7px 15px;
    background: #000;
    border: 1px solid black;
    transition: .4s ease;
    letter-spacing: 2px;
}

.card .text button a {
    color: #fff;
    text-decoration: none;
}

.card .text button:hover>a {
    color: #000;
    text-decoration: none;
}

.card p.price {
    font-weight: bolder;
    font-size: 1.3rem;
}

.card .text button:hover {
    background-color: #fff;
    color: #000;
}

.order {
    overflow: hidden;
    height: 0;
    width: 0;
    background: url(./images/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
    transition: height .5s ease;
}

.order.show {
    display: block;
    position: absolute;
    border: 2px solid black;
    min-height: 100vh;
    width: 100%;
    padding: 5px 7rem;
    top: 0%;
    left: 0%;
}

.order .xicon {
    font-size: 2.3rem;
    position: absolute;
    top: 10px;
    right: 15px;

}

.order h2 {
    font-size: 2.5rem;
    text-align: center;
}

.order .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
    width: 100%;
}

.order .form {
    width: 45%;
}

.order .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin: 30px 0;
}

.order .form .field.full {
    width: 100%;
}

.order .form .field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.order .form .field input {
    padding: 5px 10px;
    width: 100%;
}

.order .form .field textarea {
    height: 100px;
    padding: 10px;
    text-align: left;
}

.order .form .row button {
    padding: 8px 20px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid black;
    background: #000;
    color: #fff;
    transition: .2s linear;
}

.order .form .row button:hover {
    background: #fff;
    color: #000;
}

.order .img img {
    height: 400px;
}


@media screen and (max-width:800px) {
    .navbar {
        padding: 0 3rem;
    }

    .navbar .icon {
        display: block;
    }

    .navbar ul {
        position: absolute;
        top: 80%;
        left: 0;
        background-color: #fff;
        width: 100%;
        flex-direction: column;
        padding: 0 2.5rem;
        height: 0;
        overflow: hidden;
        transition: .2s linear;
    }

    .navbar ul.show {
        padding-block: 10px;
        height: 170px;
    }

    .navbar ul.show li {
        margin: 1px 0;
    }

}

@media screen and (max-width:1300px) {
    .home .img img {
        height: 300px;
    }

    .about .img img {
        height: 300px;
    }
}



@media screen and (max-width:900px) {

    .home {
        flex-direction: column;
        padding-block: 1.5rem;
    }

    .home .img {
        order: 2;
    }

    .about {
        flex-direction: column;
        padding-block: 1.5rem;
    }

    .about .img {
        order: 2;
    }

    .order .img {
        display: none;
    }

    .order .form {
        width: 100%;
    }

}

@media screen and (max-width:600px) {
    .home {
        padding: 3rem;
    }

    .about {
        padding: 3rem;
    }

    .home .img img {
        height: 280px;
    }

    .about .img img {
        height: 280px;
    }

    .order.show {
        padding: 2rem;
    }

    .order .container {
        width: 100%;
    }

    .order .form {
        width: 100%;
    }
}

@media screen and (max-width:450px) {
    .home {
        padding: 2rem 1rem;
    }

    .about {
        padding: 2rem 1rem;
    }

    .home .img img {
        height: 280px;
    }

    .about .img img {
        height: 280px;
    }

    .order .row {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .order.show .field {
        width: 100%;
    }

    .order .field input {
        width: 100%;
    }
}

.footer {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.footer .links {
    font-size: 1.2rem;
}

.footer .links a {
    color: #000;
    text-decoration: none;
}