* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: rgba(231, 231, 231, 0.3);
}

nav {
    height: 45px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: .8rem 2rem;
    box-shadow: 0 2px 5px grey;
    color: rgb(0, 187, 255);
    letter-spacing: 2px;
}

.box {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.box button {
    background: #fff;
    border-radius: 5px;
    padding: 7px 20px;
    font-size: 1.4rem;
    border: 2px solid black;
}

.box p {
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 1.3rem;
    color: #00ccff;
}

nav .text {
    color: #000;
}
